@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Outfix', sans-serif;
}


.vh-100 {
    height: 100vh;
  }

  .bordered-container {
    border: 1px solid #dee2e6; /* Bootstrap's border color */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Optional: to indicate it's clickable */
  }

  .icon {
    height: 20px; /* Adjust as needed */
    margin-right: 10px; /* Space between icon and text */
  }

  .icon-after {
    height: 20px; /* Adjust as needed */
    margin-left: 10px; /* Space between text and icon */
  }

  #marlowe-logo {
    width: 10.625rem;
    height: 2.83844rem;
    flex-shrink: 0;
  }

  .title {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .card-container {
    display: inline-flex;
    padding: 2.9375rem 2.5rem 2.75rem 2.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background: #FFF;
  }

  .container-fluid {
    background: var(--background-gradient, linear-gradient(180deg, #FFF 0%, #F8F8FF 100%));
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.08);
  }

  .cardano-badge {
    display: flex;
    padding: 0.375rem 0.6875rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.25rem;
    border: 1px solid var(--primary-blue, #0038FF);
    background: #FBFCFF;
  }

    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .title {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .truncated {
    display: inline-block;
    max-width: 152px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .connected-wallet-details {
    color: #5A5A5A;
    font-family: Outfit;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .font-weight-bold {
    font-weight: bold;
  }