/* Center the content of the table headers */
.table th, td {
  text-align: center;
  vertical-align: middle;
}

.table thead {
  border-radius: 0.625rem;
  background: #F8F6FF;
}

/* Remove border from table headers */
.table thead th, td {
  background: #F8F6FF;
  border: none;
}

.nav-link.active {
  p {color: black;}
}

.nav-link p {
  color: #5A5A5A;
}
